@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --theme: #00ffff;
  --background: #000000; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  color: white;
  font-size: 14px;
}

body {
  height: 100%;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  font-weight: 200;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background:black;

  background-image: url("/bg-dot.png");
}

/* 背景光效 */
.shark-wrap {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.shark-wrap::before{
  content: '';
  position: absolute;
  inset: -20%;
  background: linear-gradient(45deg, rgba(255,255,255,0) 40%, rgba(255, 255, 255, 0.5), rgba(255,255,255,0) 60%);
  animation: shark-wrap 8s infinite;
  transform: translateX(-100%);
  mix-blend-mode: color-dodge;
  pointer-events: none;
}
@keyframes shark-wrap {
  to {
    transform: translateX(100%);
  }
}
.shark-wrap::-webkit-scrollbar {
  display: none;
}
